on: [push]
jobs:
  Build-JavaScriptCore:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Pull vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git
          ./vcpkg/bootstrap-vcpkg.bat
      - name: Build JavaScriptCore
        run: cmake --preset release -DCMAKE_TOOLCHAIN_FILE="vcpkg\scripts\buildsystems\vcpkg.cmake"
      - name: Build JavaScriptCoreTest
        run: cmake --build --preset release
      - name: Upload JavaScriptCore artifacts
        uses: actions/upload-artifact@v4
        with:
            name: JavaScriptCore
            path: build/release/vcpkg_installed/x64-windows/
            if-no-files-found: error
